body{
  background-image: url(https://cdn.hipwallpaper.com/i/94/64/lrBA1H.jpg);
}

.arrange{
  width: 200%;
  padding-left: 470px;
}

.check{
  width: 15%;
}

.login:hover{
background: #282c34;
}

.check:hover{
background: #282c34;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.section{
  text-align: center;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center{
  text-align: center;
}

.content {
  vertical-align: bottom;
  text-align: left;
  padding-left: 100px;
}

a{
  color: black;
}

div{
  margin: 15px;
  white-space: normal;
}

button {
  margin: 10px;
  width: 8%;
  padding: 5px;
  background: grey;
  color: white;
  font-size: 11px;
  border: 1px solid grey;
  text-align: center;
  border-left: none;
  cursor: pointer;
}

{
  box-sizing: border-box;
}

.format{
padding-left: 260px;
}

/* Style the search field */
input[type=text] {
  align-items: center;
  padding: 10px;
  font-size: 17px;
  border: 1px solid darkgrey;
  width: 80%;
  background: #f1f1f1;
}

.alterplaylist:hover{
  background: #282c34;
}

.yes:hover{
  background: #282c34;
}

.no:hover {
  background: #282c34;
}

.albumcover{
  padding-left: 590px;
  padding-bottom: 10px;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
