html, body {
    height: 100%;
    margin: 0;
}

.header {
    background-color: yellow;
    color: black;
    height: 60px;
}

.main {
    display: flex;
    height: calc(100% - 60px);
}

.queue {
    flex-basis: 66%;
    background-color: red;
    overflow-y: scroll;
}

.songs {
    flex-basis: 34%;
    background-color: blue;
    overflow-y: scroll;
}